{% extends "layout/base.twig" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<main class="content">
    <h2>Dashboard</h2>
    {% if user is defined %}
        <p class="welcome-message">Bonjour, {{ user.prenom|e }} !</p>
    {% endif %}
    <div class="dashboard-actions">
        <ul>
            {% if user.role == 'Admin' or user.role == 'pilote' %}
        <li><a href="{{ BASE_URL }}index.php?controller=gestionutilisateurs&action=index">Gérer les utilisateurs</a></li>
                <li><a href="{{ BASE_URL }}index.php?controller=offre&action=gererOffres">Gérer les Offres</a></li>
            {% endif %}
            <li><a href="{{ BASE_URL }}index.php?controller=offre&action=index">Voir les offres de stage</a></li>
        </ul>
    </div>
</main>
{% endblock %}
