{% extends "layout/base.twig" %}
{% block title %}Réinitialiser le mot de passe{% endblock %}
{% block content %}
<section class="content">
    <section id="contact" class="resetPassword">
<h3 class="contact-title">Réinitialiser votre mot de passe</h3>
<div class="contact-form">
  <a href="mailto:contact@cesitachance.com" target="_blank" class="contact-button">
    Envoyer un email à l'administrateur
  </a>
</div>
</section>
<div class="back-button-container">
<a href="{{ BASE_URL }}index.php?controller=utilisateur&action=connexion" class="btn btn-back">⬅ Retour à la page page de connexion</a>
</div>
</section>
{% endblock %}
