# Activer le moteur de réécriture
RewriteEngine On

# Rediriger les requêtes pour les fichiers JavaScript
RewriteRule ^js/(.*)$ public/js/$1 [L]

# Rediriger les requêtes pour les fichiers CSS
RewriteRule ^css/(.*)$ public/styles/$1 [L]

# Rediriger les requêtes pour les fichiers dans le dossier public
RewriteRule ^public/(.*)$ public/$1 [L]

# Rediriger les requêtes pour les fichiers PHP
RewriteRule ^(.*)\.php$ public/$1.php [L]

# Rediriger les requêtes pour les autres fichiers
RewriteRule ^(.*)$ public/$1 [L]