<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ BASE_URL }}public/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% include "layout/header.twig" %}
    {% block content %}{% endblock %}
    {% include "layout/footer.twig" %}
</body>
</html>
