<footer>
  <p>
    © 2025 - CESI Ta Chance | 
    <a href="{{ url('mentionsLegales', 'mentions') }}" 
       class="footer-btn">Mentions légales</a> | 
    <a href="{{ url('mentionsLegales', 'conditions') }}" 
       class="footer-btn">Conditions générales</a> | 
    <a href="{{ url('mentionsLegales', 'confidentialite') }}" 
       class="footer-btn">Politique de confidentialité</a> | 
    Contact : contact@cesitachance.com
  </p>
</footer>
