<footer>
  <p>
    © 2025 - CESI Ta Chance | 
    <a href="{{ BASE_URL }}index.php?controller=mentionsLegales&action=mentions" 
       class="footer-btn">Mentions légales</a> | 
    <a href="{{ BASE_URL }}index.php?controller=mentionsLegales&action=conditions" 
       class="footer-btn">Conditions générales</a> | 
    <a href="{{ BASE_URL }}index.php?controller=mentionsLegales&action=confidentialite" 
       class="footer-btn">Politique de confidentialité</a> | 
    Contact : contact@cesitachance.com
  </p>
</footer>
