{% extends "layout/base.twig" %}
{% block title %}Mentions Légales{% endblock %}
{% block content %}
<section class="content">
    <h2>Mentions Légales</h2>
    <h3>Éditeur du site</h3>
    <p><strong>Nom :</strong> CESI Ta Chance</p>
    <p><strong>Statut juridique :</strong> Association Loi 1901</p>
    <p><strong>Adresse :</strong> 123 Rue des Stages, 75001 Paris, France</p>
    <p><strong>Email :</strong> contact@cesitachance.com</p>
    <p><strong>Téléphone :</strong> +33 1 23 45 67 89</p>
    <h3>Hébergement du site</h3>
    <p>Le site est hébergé par :</p>
    <p><strong>Nom :</strong> OVH</p>
    <p><strong>Adresse :</strong> 2 Rue Kellermann, 59100 Roubaix, France</p>
    <p><strong>Téléphone :</strong> +33 9 72 10 10 07</p>
    <h3>Propriété intellectuelle</h3>
    <p>Tous les contenus présents sur ce site (textes, images, logos, vidéos, etc.) sont protégés par la législation sur la propriété intellectuelle. Toute reproduction, même partielle, est interdite sans autorisation expresse.</p>
    <h3>Responsabilité</h3>
    <p>CESI Ta Chance ne saurait être tenu responsable de l’utilisation du site par les utilisateurs ni des éventuels dommages résultant de son accès.</p>
</section>
{% endblock %}
