{% extends "layout/base.twig" %}
{% block title %}Contactez-nous{% endblock %}
{% block content %}
{% if success is defined %}
    <p class="success-message">{{ success }}</p>
{% endif %}
{% if error is defined %}
    <p class="error-message">{{ error }}</p>
{% endif %}
<section class="content">
    <h3>Contactez-nous</h3>
    <form id="contact-form" action="{{ BASE_URL }}index.php?controller=contact&action=send" method="POST">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>
        <label for="message">Message :</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit" class="btn">Envoyer</button>
        <button type="reset" class="bouton-reset">Réinitialiser</button>
    </form>
</section>
{% endblock %}
