{% extends "layout/base.twig" %}
{% block title %}Ajouter une Offre de Stage{% endblock %}
{% block content %}
<section class="content">
    <h3>Ajouter une Offre de Stage</h3>
    {% if message is defined %}
        <p class="success-message">{{ message }}</p>
    {% endif %}
    {% if error is defined %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
    <form action="{{ url('offre', 'ajout') }}" method="POST">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" required>
        <label for="description">Description :</label>
        <textarea id="description" name="description" required></textarea>
        <label for="entreprise">Entreprise :</label>
        <input type="text" id="entreprise" name="entreprise" required>
        <label for="remuneration">Base de rémunération :</label>
        <input type="text" id="remuneration" name="remuneration" required>
        <label for="date_debut">Date de début :</label>
        <input type="date" id="date_debut" name="date_debut" required>
        <label for="date_fin">Date de fin :</label>
        <input type="date" id="date_fin" name="date_fin" required>
        <button type="submit" class="btn">Publier l'offre</button>
    </form>
<<<<<<< Updated upstream
=======
    <div class="back-button-container">
        <a href="{{ url('offre', 'index') }}" class="btn btn-back">⬅ Retour aux Offres</a>
    </div>
>>>>>>> Stashed changes
</section>
{% endblock %}
