{% extends "layout/base.twig" %}
{% block title %}Supprimer une Offre de Stage{% endblock %}
{% block content %}
<section class="content">
    <h3>Supprimer une Offre de Stage</h3>
    {% if message is defined %}
        <p class="success-message">{{ message }}</p>
    {% endif %}
    {% if error is defined %}
        <p class="error-message">{{ error }}</p>
    {% endif %}
    <form action="{{ url('offre', 'supprimer') }}" method="POST" onsubmit="return confirm('Voulez-vous vraiment supprimer cette offre ?');">
        <label for="offer-id">ID de l'Offre :</label>
        <input type="text" id="offer-id" name="offer-id" required>
        <button type="submit" class="btn">Supprimer l'Offre</button>
    </form>
<<<<<<< Updated upstream
=======
    <div class="back-button-container">
        <a href="{{ url('offre', 'index') }}" class="btn btn-back">⬅ Retour aux Offres</a>
    </div>
>>>>>>> Stashed changes
</section>
{% endblock %}
